# This is Git's per-user configuration file.
[user]
  name = Fabiano Martins
  email = fabiano.paula.martins@gmail.com
[core]
  editor = vim
[push]
  default = current
[alias]
  ba = branch -a
  ca = commit --amend --no-edit
  cb = checkout -b
  ci = commit -m 
  co = checkout
  cm = checkout master
  fop = fetch origin --prune
  incoming = !(git fetch --quiet && git log --pretty=format:'%C(yellow)%h %C(white)- %C(red)%an %C(white)- %C(cyan)%d%Creset %s %C(white)- %ar%Creset' ..@{u})
  lg = log --pretty=format:'%C(red)%h %Cgreen%cn %C(blue)%cr %C(white)%s %C(auto)%d%Creset'
  reflg = reflog --pretty=format:'%C(red)%h %Cgreen%cn %C(blue)%cr %C(white)%s %C(auto)%d%Creset'
  outgoing = !(git fetch --quiet && git log --pretty=format:'%C(yellow)%h  -  %C(white)- %C(red)%an %C(white)- %C(cyan)%d%Creset %s %C(white)- %ar%Creset' @{u}..)
  pomf = pull origin master --ff
  p = push
  rh = reset --hard
  rollback = reset --soft HEAD~1
  sf = show --name-only
  st = status --short --branch
  unstage = reset --
  undo = checkout --
[merge]
  ff = false
[includeIf "gitdir:~/investtools-workspace/"]
  path = .gitconfig-investtools

